<template>
    <form>
        <div class="form-row align-items-center">
            <div class="col-md-12 my-1">
                <input type="text" placeholder="Your task here*" class="form-control form-control-sm" v-model="task.description"
                       @keydown.enter.prevent @keyup.enter="create">
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "add-task",
        data () {
            return {

            }
        },
        props: {
            task: {
                type: Object,
                default: function(){
                    return {
                        description: null,
                        priority: 2,
                        status: 0,
                    }
                }
            },
        },
        methods: {
            create() {
                var task = Object.assign({},this.task);
                var context = this;
                Vue.nextTick( function () {
                    context.$root.$emit('createdTask',task);
                    context.task.description = "";
                });
            }
        }
    }
</script>

<style scoped>

</style>