<template>
    <form>
        <div class="form-row align-items-center">
            <div class="col-md-12 my-1">
                <input type="text" placeholder="Your task here*" class="form-control form-control-sm" v-model="list.name"
                       @keydown.enter.prevent @keyup.enter="create">
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "add-task-list",
        data () {
            return {

            }
        },
        props: {
            list: {
                type: Object,
                default: function(){
                    return {
                        name: null,
                    }
                }
            },
        },
        methods: {
            create() {
                var list = {name:this.list.name};
                var context = this;
                Vue.nextTick( function () {
                    context.$root.$emit('createdTaskList',list);
                    context.list.name= "";
                });
            }
        }
    }
</script>

<style scoped>

</style>