<template>
    <b-card no-body>
        <b-card-header header-tag="header">
            <h5 class="mb-0">
                {{ taskListsTitle }}
                <b-button class="float-right" variant="link" v-b-toggle.add-task-list-collapse>
                    <i class="fas fa-plus"></i>
                </b-button>
            </h5>
        </b-card-header>

        <div class="task-lists-container">
            <b-collapse id="add-task-list-collapse">
                <div class="bg-primary p-3 text-white">
                    <add-task-list></add-task-list>
                </div>
            </b-collapse>
            <div class="list-group list-group-flush">
                <task-list  v-for="taskList in taskLists" :task-list="taskList" :key="taskList.id"></task-list>
            </div>
        </div>
    </b-card>
</template>

<script>

    import TaskList from "./TaskList";
    import AddTaskList from "./AddTaskList";

    export default {
        components: {
            AddTaskList,
            TaskList},
        name: "lists-container",
        data () {
            return {
                taskListsTitle: "My Task Lists"
            }
        },
        props: [
            'taskLists'
        ]
    }
</script>

<style scoped>
    .task-lists-container {
        height: calc(100vh - 12em); overflow-y:  auto;
    }

</style>