<template>
    <div role="tablist">
        <b-collapse id="lists-tab" visible accordion="task-lists-main" role="tabpanel">
            <lists-container :task-lists="taskLists"></lists-container>
        </b-collapse>
        <b-collapse id="task-tab" accordion="task-lists-main" role="tabpanel">
            <tasks-container :list="selectedList"></tasks-container>
        </b-collapse>
    </div>
</template>

<script>
    import ListsContainer from "./ListsContainer";
    import TasksContainer from "./TasksContainer";

    export default {
        components: {
            TasksContainer,
            ListsContainer
        },
        name: "task-list-main",
        props: [
            'taskLists',
            'selectedList'
        ]
    }
</script>

<style scoped>
</style>