<template>
    <li class="list-group-item">
        <div class="row px-3">
            <div class="task-list-details">
                <b-link href="#" @click="selectThisList" v-if="!isEditable" v-b-toggle.task-tab>
                    <div class="text-left w-100 p-0">{{ taskList.name }}</div>
                </b-link>
                <div v-if="isEditable"
                     class="text-left w-100 p-0 border border-primary"
                     contenteditable=true
                     @blur="updateTaskList"
                     @keydown.enter.prevent
                     @keydown.enter="updateTaskList">
                    {{ taskList.name }}
                </div>
            </div>
            <div style="width: 3em">
                <div class="dropdown">
                    <b-dropdown right no-caret variant="link" :id="'task-options_'+taskList.id" class="float-right py-0" >
                        <template slot="button-content">
                            <i class="fas fa-ellipsis-v" ></i>
                        </template>
                        <b-dropdown-item @click="isEditable = true">Edit</b-dropdown-item>
                        <b-dropdown-divider></b-dropdown-divider>
                        <b-dropdown-item @click="deleteTaskList">Delete</b-dropdown-item>
                    </b-dropdown>
                </div>
            </div>
        </div>
    </li>

</template>

<script>
    export default {
        name: "task-list",
        data() {
            return {
                isEditable: false
            }
        },
        props: {
            taskList : {
                type: [Array, Object],
                default : function ()
                    {
                        return {
                            id: 0,
                            name: 'List Name'
                        }
                    }
            }
        },
        methods: {
            selectThisList() {
                this.$root.$emit('selectedList', this.taskList);
            },
            updateTaskList(event){
                this.isEditable = false;
                this.taskList.name = event.target.innerText;
                this.$root.$emit('updatedTaskList',this.taskList);
            },
            deleteTaskList() {
                if(confirm("Do you really really want to delete this list?"))  {
                    this.$root.$emit('deletedTaskList', this.taskList);
                }
            }
        }
    }
</script>

<style scoped>
    .task-list-details {
        width: calc(100% - 3em)
    }

    .task-list-details a:hover{
        text-decoration: none;
    }
</style>