<template>
    <form>
        <div class="form-row align-items-center">
            <div class="col-md-12 my-1">
                <input type="text" placeholder="Your task here*"  v-on:change="update"
                       v-model="task.description" class="form-control form-control-sm">
            </div>

            <div class="col-sm-5">
                <div class="form-group row mt-2 mb-0">
                    <label class="col-5 col-sm-4 col-md-3 col-form-label col-form-label-sm pr-0" for="priority-select">Priority</label>
                    <div class="col-7 col-md-7">

                        <b-form-select v-on:change="update" size="sm" v-model="task.priority" :options="priority_options" id="priority-select" >
                        </b-form-select>
                    </div>
                </div>
            </div>

            <div class="col-sm-7">
                <div class="form-group row mt-2 mb-0">
                    <label class="col-5 col-sm-4 col-md-3 offset-md-1 col-form-label col-form-label-sm pr-0" for="due-date">Due Date</label>
                    <div class="col-7 col-sm-8">
                        <b-form-input v-on:change="update" type="date" size="sm" id="due-date" placeholder="YYYY-mm-dd" v-model="task.due_date"> </b-form-input>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "task-fields",
        data () {
            return {
                priority_options: {
                    1 : 'Low',
                    2 : 'Normal',
                    3 : 'High'
                },
            }
        },
        props: {
            actionName: {
                type : String,
                default : 'Save'
            },
            task: {
                type: Object,
                default: {
                    description: "",
                    priority: 2,
                    due_date: ""
                }
            }
        },
        methods: {
            update() {
                var context = this;
                Vue.nextTick(function () {
                    context.$root.$emit('updateTask', context.task);
                })
            }
        }
    }
</script>

<style scoped>

</style>