<template>
    <li class="list-group-item">
        <div class="row">
            <div class="task-checkbox" v-if="!onEdit" >
                <b-form-checkbox :id="'checkbox_'+task.id"
                                 v-model="task.status"
                                 :value="true"
                                v="updateTask"></b-form-checkbox>
            </div>
            <div class="task-details" v-bind:class="{ 'text-truncate': !isActive }"  v-if="!onEdit">
                <b-link href="#"
                      @click="isActive = !isActive"
                      :class="isActive ? 'collapsed' : null"
                      :aria-controls="'task-details_'+task.id"
                      :aria-expanded="isActive ? 'true' : 'false'">
                    <div class="text-left w-100 p-0">
                        {{ task.description }}
                    </div>
                </b-link>
                <b-collapse v-model="isActive" :id="'task-details_'+task.id">
                    <div class="form-row align-items-center">

                        <div class="col-sm-6">
                            <div class="row mt-2 mb-0">
                                <label class="col-5 col-sm-4 col-md-3 col-form-label col-form-label-sm pr-0">Priority</label>
                                <div class="col-7 col-md-7">
                                    <div>{{ priority_options[task.priority] }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="row mt-2 mb-0">
                                <label class="col-5 col-sm-4 col-md-3 offset-md-1 col-form-label col-form-label-sm pr-0">Due Date</label>
                                <div class="col-7 col-sm-8">
                                    <div>{{ task.due_date }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-collapse>
            </div>
            <div class="task-edit" v-if="onEdit">
                <task-fields :task="task" action-name="Update" :on-edit="onEdit"></task-fields>
            </div>
            <div style="width: 3em">
                <div class="dropdown">
                    <button class="btn btn-link float-right py-0" type="button" v-if="onEdit" @click="onEdit = false">
                        <i class="fas fa-chevron-up" ></i>
                    </button>

                    <b-dropdown right no-caret variant="link" :id="'task-options_'+task.id" v-if="!onEdit"  class="float-right py-0" >
                        <template slot="button-content">
                            <i class="fas fa-ellipsis-v" ></i>
                        </template>
                        <b-dropdown-item @click="onEdit = true">Edit</b-dropdown-item>
                        <b-dropdown-divider></b-dropdown-divider>
                        <b-dropdown-item @click="deleteTask">Delete</b-dropdown-item>
                    </b-dropdown>

                </div>

            </div>
        </div>

    </li>
</template>

<script>
    import TaskFields from "./TaskFields";

    export default {
        components: {TaskFields},
        name: "task",
        data () {
            return {
                isActive: false,
                onEdit: false,
                priority_options: {
                    1 : 'Low',
                    2 : 'Normal',
                    3 : 'High'
                }
            }
        },
        props: {
            task: {
                type : Object,
                default : {
                    id: 1,
                    description : 'Cras justo odio ds sd sdf sdf sdf sdf',
                    priority : 2,
                    due_date : "",
                    status : false
                }
            }
        },
        methods: {
            updateTask() {
                this.$root.$emit('updatedTask', this.task);
            },
            deleteTask() {
                if(confirm("Do you really really want to delete this task?"))  {
                    this.$root.$emit('deletedTask', this.task);
                }
            }
        },
        created () {
            this.$watch('task.status', function (newVal, oldVal) {
                this.$root.$emit('updatedTask', this.task);
            })
        },
        computed: {

        }
    }
</script>

<style scoped>
    .task-checkbox {
        width: 3em;
        padding-left: 1em;
    }

    .task-details, .task-edit {
        width: calc(100% - 6em)
    }

    .task-edit {
        margin-left: 3em;
    }

    .task-details a:hover{
        text-decoration: none;
    }

</style>