<template>
    <b-card no-body>
        <b-card-header>
            <h5 class="mb-0">
                <b-button variant="link" v-b-toggle.lists-tab>
                    <i class="fas fa-arrow-up"></i>
                </b-button>
                <span> {{list.name}} </span>
                <b-button class="float-right" variant="link" v-b-toggle.add-task-collapse>
                    <i class="fas fa-plus"></i>
                </b-button>
            </h5>
        </b-card-header>
        <div class="task-container">
            <b-collapse id="add-task-collapse">
                <div class="bg-primary p-3 text-white">
                    <add-task></add-task>
                </div>
            </b-collapse>
            <ul class="list-group list-group-flush">
                <task v-for="task in list.tasks" :task="task" :key="task.id"></task>
            </ul>
        </div>
    </b-card>
</template>

<script>
    import AddTask from "./AddTask";
    import TaskFields from "./TaskFields";
    import Task from "./Task";

    export default {
        components: {
            Task,
            TaskFields,
            AddTask},
        name: "tasks-container",
        data() {
            return {
            }
        },
        props: [
            'list'
        ]
    }
</script>

<style scoped>
    .task-container {
        height: calc(100vh - 12em); overflow-y:  auto;
    }
</style>